<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">The Restaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="dropdown-divider"></div>

      <a class="nav-item nav-link" routerLink="menu">Menu</a>

      <a *ngIf="accountService.userHasAccess('user')" class="nav-item nav-link" routerLink="order">Order summary</a>

      <a *ngIf="accountService.userHasAccess('manager')" class="nav-item nav-link" routerLink="menu/manage">Manage menu</a>

      <a *ngIf="accountService.userHasAccess('admin')" class="nav-item nav-link" routerLink="admin">Admin panel</a>
    </div>


    <div class="navbar-nav ml-auto">
      <div class="dropdown-divider"></div>
      <app-currency-picker class="nav-item nav-link">
      </app-currency-picker>
      <div class="dropdown-divider"></div>

        <a *ngIf="accountService.user==null" class="nav-item nav-link" routerLink="login">Log in</a>
        <a *ngIf="accountService.user==null" class="nav-item nav-link" routerLink="register">Register</a>
        <a *ngIf="accountService.user!=null" class="nav-item nav-link" >Hello, {{accountService.user.name}}</a>
        <a *ngIf="accountService.user!=null" class="nav-item nav-link" (click)="logout()">Log out</a>
    </div>
  </div>
</nav>
