<div class="card my-3">
    <img *ngIf="dish.image_src!=''" class="card-img-top" src="{{ dish.image_src }}" alt="">
    <div class="card-body">

        <div class="d-flex justify-content-between">
            <h5 class="card-title" >{{ dish.name }}</h5>
            <h6 class="text-secondary float-right">{{ dish.price | currencyPipe:currency }} </h6>
        </div>

        <p class="card-text text-dark">
            {{ dish.cusine }}
            <small *ngFor="let cat of dish.categories" class="text-muted">{{ cat }} </small><br>
        </p>

        <div class="d-flex row-wrap justify-content-around align-items-center">
            <button class="btn btn-primary px-3" 
                [disabled]="availability=='none'"
                (click)="addOrder()">+</button>
            <button class="btn btn-outline-secondary px-3" 
                [disabled]="orders==0"
                (click)="removeOrder()">-</button>

            <small *ngIf="availability=='normal'" class="text-secondary">Pozostało: {{ dish.max_orders - orders}} </small>
            <small *ngIf="availability=='low'" class="text-danger">Pozostało jedynie: {{ dish.max_orders - orders}} </small>
            <small *ngIf="availability=='none'" class="text-warning">Wyprzedano!</small>
        </div>
            
    </div>
</div>
<button id="delete-btn" type="button" class="btn btn-danger" (click)="del()">Usuń</button>