star {
  padding: 3px;
}
.star-static {
  padding: 3px;
}

.icon-saved {
  filter: drop-shadow(1px 1px 3px rgba(255, 193, 27, 0.4));
  color: #ffd70a;
}
.icon-normal {
  filter:drop-shadow(1px 1px 1px rgba(114, 88, 18, 0.05));
  color: gold;
}

.star:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}
