<div class="d-flex flex-column justify-content-around align-items-start mb-3">
    <div type="button" class="h6 mb-n1"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <fa-icon [icon]="chevron_icon"></fa-icon>
        {{ name }}
    </div>

    <div *ngIf="isCollapsed" id="selected_list" class="d-inline-block text-truncate">
        <small *ngFor="let item of selectedItems">
            {{ item }}
        </small>
    </div>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="mt-2">
        <select multiple class="form-select" [size]="items.length" [(ngModel)]="selectedItems" (change)="selectedChange()">
            <option *ngFor="let item of items" [ngValue]="item">
                {{ item }}
            </option>
    </select>
    </div>
</div>
