<main>
  <h1>Wybierz swój samochód!</h1>

  <h4 class="pt-4">Marka:</h4>
  <select class="browser-default custom-select" [(ngModel)]="brand" (change)="brand_change()">
    <option *ngFor="let b of car_brands" [ngValue]="b">{{b}}</option>
  </select>

  <h4 class="pt-4">Model:</h4>
  <select class="browser-default custom-select" [(ngModel)]="model" (change)="model_change()" [disabled]="d">
    <option *ngFor="let m of car_models" [ngValue]="m">{{m}}</option>
  </select>

  <h4 class="pt-4">Kolor:</h4>
  <app-color-select [colors]="car_colors" (colorSelected)="color_change($event)"></app-color-select>

  <h4 class="pt-4">Twój samochód to:</h4>
  <h5>{{brand}} {{model}} {{color}}</h5>
</main> 