main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

main > * {
    max-width: 600px;
}


.custom-select {
    font-size: larger;
}