<main class="container card">
  <form class="row" [formGroup]="form" (ngSubmit)="submit()">
    <div class="col-12 col-md-7 col-lg-6 form-group">
      <img class="card-img-top" [src]="blank_img_src" alt="">
      <!--TODO add img upload or picking at least-->
    </div>

    <div class="col-12 col-md-5 col-lg-6 card-body">
      <div class="row">
        <div class="col-7 form-group">
          <label for="name">Nazwa dania</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <small *ngIf="form.controls.name.invalid && form.controls.name.touched"
                 class="form-text text-danger">
            Podaj nazwę dania (min 3 znaki)</small>
        </div>
        <div class="col-5 form-group">
          <label for="price">Cena</label>
          <input type="text" class="form-control" id="price" formControlName="price">
          <small *ngIf="form.controls.price.invalid && form.controls.price.touched"
                 class="form-text text-danger">
            Podaj cenę w poprawnym formacie np. $12.81</small>
        </div>
      </div>

      <div class="form-group">
        <label for="cusine">Kuchnia</label>
        <select class="form-control" id="cusine" formControlName="cusine">
          <option *ngFor="let cusine of cusines" [ngValue]="cusine"> {{cusine}} </option>
        </select>
        <small *ngIf="form.controls.cusine.invalid && form.controls.cusine.touched"
               class="form-text text-danger">
          Wybierz kuchnię</small>
      </div>

      <div class="form-group">
        <label for="categories">Kategorie</label>
        <select multiple class="form-control" id="categories" formControlName="categories">
          <option *ngFor="let cat of categories" [ngValue]="cat"> {{cat}} </option>
        </select>
        <small *ngIf="form.controls.categories.invalid && form.controls.categories.touched"
               class="form-text text-danger">
          Wybierz przynajmniej jedną kategorię</small>
      </div>

      <div class="form-group">
        <label for="ingredients">Składniki</label>
        <select multiple class="form-control" id="ingredients" formControlName="ingredients">
          <option *ngFor="let ing of ingredients" [ngValue]="ing"> {{ing}} </option>
        </select>
      </div>

        <button type="submit" class="btn btn-primary"
                [disabled]="form.invalid">
          Submit
        </button>

        <div *ngIf="loading" class="spinner-border m-1" style="vertical-align: -1em;" role="status">
          <span class="sr-only">Loading...</span>
        </div>

    </div>

  </form>

</main>


<!--TODO add desciption-->
