<div *ngIf="dishes.length>0" class="row no-gutters">
    <app-dish class="col-12 col-lg-6"
        *ngFor="let dish of dishes"
        [dish]="dish"
        [manage]="manage">
    </app-dish>
    <app-paginate-nav class="col-12"
        [(page)]="this.dishesTransformService.page"
        [pagecount]="this.dishesTransformService.pagecount()"
        (pageChange)="this.dishesTransformService.paginationRefresh()">
    </app-paginate-nav>
</div>

<div *ngIf="dishes.length==0 && loading" class="container text-center p-5">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
</div>

<div *ngIf="dishes.length==0 && !loading" class="container text-center p-5">
    <h1>Nothing found :/</h1>
</div>
