<div class="d-flex flex-column justify-content-around align-items-center container">

    <app-searchbar
        class="py-2"
        (onSearch)="searchFilterService.setSearchQuery($event)">
    </app-searchbar>

    <app-dropdown-multiselect
        class="py-2"
        name="kategorie"
        [items]="categories"
        (onSelectedChange)= "searchFilterService.setCategories($event)">
    </app-dropdown-multiselect>

    <app-dropdown-multiselect
        class="py-2"
        name="kuchnie"
        [items]="cusines"
        (onSelectedChange)= "searchFilterService.setCusines($event)">
    </app-dropdown-multiselect>

    <h5>Ceny</h5>
    //TODO ceny rangeslider

    <h5>Oceny</h5>
    //TODO oceny filter

    //TODO sortowanie

<div>
