<div class="card mb-4">
    <div class="card-body pb-0">
        <app-searchbar
            (onSearch)="dishesTransformService.setSearchQuery($event)">
        </app-searchbar>
    </div>

    <div class="card-body pl-4 pb-0">
        <app-dropdown-multiselect
            name="Categories"
            [items]="categories"
            (onSelectedChange)= "dishesTransformService.setCategories($event)">
        </app-dropdown-multiselect>

        <app-dropdown-multiselect
            name="Cuisines"
            [items]="cuisines"
            (onSelectedChange)= "dishesTransformService.setCuisines($event)">
        </app-dropdown-multiselect>

        <div class="h6">Prices</div>
        <div class="row">
          <div class="col-6">
            <label for="min">Min</label>
            <input type="text" class="form-control" id="min"
                   [(ngModel)]="minPrice" (change)="priceRangeChange()">
          </div>
          <div class="col-6">
            <label for="max">Max</label>
            <input type="text" class="form-control" id="max"
                   [(ngModel)]="maxPrice" (change)="priceRangeChange()">
          </div>
        </div>

    </div>

    <div class="card-body pl-4">
            <label>Positions per page:&nbsp;</label>
            <select class="form-select py-1" aria-label="Disabled select example"
                    [(ngModel)]="this.dishesTransformService.per_page"
                    (change)="this.dishesTransformService.paginationRefresh()">
                <option value=6>6</option>
                <option value=12>12</option>
                <option value=24>24</option>
            </select>
        </div>
    </div>

