<header>
  <div class="overlay"></div>

  <!--FIXME czasem sie nie odpala wideo jak np refreshuje-->
  <video playsinline="playsinline" muted="muted" autoplay="autoplay" loop="loop">
    <source src="/assets/videos/cook.mp4" type="video/mp4">
  </video>

  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1>Jesteśmy restauracja</h1>
        <p class="lead p-2">Robimy makarony i inne jedzenia</p>
        <button class="btn btn-outline-light" routerLink="menu">Zamów coś sobie</button>
      </div>
    </div>
  </div>
</header>

<main class="container p-5">
  <div class="row">
  <section class="col-12 p-2">
    <h1>Makaronu historia</h1>
    <p>Najstarszy makaron znaleziono w Chinach, miał cztery tysiące lat i ok. 20 cali długości. Znaleziono go w wiosce z okresu
      neolitu nad brzegami Żółtej Rzeki. To najstarsze odkryte przez archeologów jedzenie. Według legendy do Europy miał go jakoby
      sprowadzić wenecki podróżnik, Marco Polo. Jest to jednak tylko legenda, bowiem już tysiąc lat wcześniej, w II wieku naszej
      ery, rzymski badacz Galen wspomniał o tego typu potrawie, natomiast Muhammad al-Idrisi udokumentował istnienie suszonego
      makaronu (takiego, jak współczesny) w południowych Włoszech, na Sycylii i w Trabii ok. XII wieku, czyli jeszcze przed
      narodzinami Marco Polo.</p>
  </section>
  <section class="col-12 p-2">
    <h1>O nas</h1>
    <p>Jesteśmy sobie restauracja. Robimy jedzenie i sprzedajemy. Możesz kupić je u nas na stronie. Gdyby nie było innych restauracji
    na świecie, bylibyśmy najlepszą restauracją na całym świecie. Nie przychodźcie do nas jeśli nie chcecie jeść naszych dań.</p>
  </section>
    <section class="p-2 col-12 col-md-6">
      <h1>Kontakt:</h1>
      <div>Telefon</div>
      <div>Mail</div>
      <div>Adres</div>
    </section>
    <section class="p-2 col-12 col-md-6">
      <h1>Znajdź nas nas mapie:</h1>
      <!--TODO mapa z google maps-->
      <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/World_Map_1689.JPG/1024px-World_Map_1689.JPG" alt="">
    </section>
  </div>
</main>



